extends ../layout

block content
    .container
        .row    
            each item in movies
                .col-md-2
                    .thumbnail
                        a(href="/movie/#{item.id}")
                            img(src="#{item.poster}", alt="#{item.title}" height="150" width="150")
                        .caption
                            h3 #{title}
                            p: a.btn.btn-primary(href="/movie/#{item.id}", role="button") 看看小nino